include LICENSE
include AUTHORS
include ChangeLog
include requirements.txt
include tendrl-performance-monitoring.service
exclude .gitignore
exclude .gitreview
graft systemd
graft config
graft docs
graft etc
graft tendrl
global-exclude *.pyc
